html {
  font-size: 14px;
}
body {
  padding: 0px;
  margin: 0px;
  font-family: "Bitstream Vera Sans", Verdana, Arial, Sans-Serif;
  font-size: 1rem;
}
p { margin: 1rem 0; }

.banner,
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.banner {
  border: 0;
  background-color: #6699cc;
}
.banner a {
  color: #fff;
}
.banner li a:hover {
  background-color: #3d6b99;
}
.navbar-brand {
  margin: 0;
}
.navbar-right {
  max-width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .banner {
    background: linear-gradient(to bottom, #9cf, #69c);
  }
  .navbar > .container {
    padding-left: 0;
    padding-right: 0;
  }
  .container > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
  }
  .navbar-right {
    margin-right: 1rem;
    text-align: left;
  }
  .pagination a {
    margin-left: .5rem;
    margin-right: .5rem;
    text-decoration: underline;
  }
}

.autocomplete-results {
  max-width: 52rem;
  margin-top: 4px;
}
.ac-no-results,
.ac-no-results:focus {
  color: #843534;
  border-color: #843534;
}
.ac-no-results:focus {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}

.app-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav-tabs {
  margin-bottom: 1rem;
}

label {
  cursor: pointer;
}
.form-control {
  min-width: 100px;
}
.form-control[type="checkbox"],
.form-control[type="radio"] {
  min-width: 2rem;
  margin-top: 1px;
  cursor: pointer;
}

table[name="source_fl_table"] {
  font-size: 10pt;
  border-spacing: 0px;
  border-collapse: separate;
}
td.addEle {
  float: left;
  padding-left: 15px;
  text-decoration: underline;
}
td[name="source_fl_col"] {
  padding: 2px;
}
#agent_table td {
  vertical-align: middle;
}
.yrFrom,
.yrTo {
  min-width: 80px;
  max-width: 80px;
}
input[name="pub_yrFrom"],
input[name="pub_yrTo"] {
  width: 100%;
}

/* --- WORK --- */
.parent-edit .parent-work-set,
.parent-set .parent-work-edit { display: none; }
.parent-edit .parent-work-edit,
.parent-set .parent-work-set { display: block; }

.location-label {
  display: block;
  margin: 0;
  padding: 6px 12px;
  border-bottom: 1px solid #ccc;
  font-weight: normal;
}
.location-label label:hover,
label.location-label:hover {
  background-color: #edf2f7;
}
.location-label:last-child {
  border: 0;
}
.location-label small {
  display: block;
  color: #777;
}
label.location-label small {
  margin-left: 1.25rem;
}
.location-source-control {
  float: right;
  padding: .5rem 1rem;
}
tr[name="pub_row[]"] td {
  min-width: 110px;
}
tr[name="pub_row[]"] td:first-of-type {
  min-width: auto;
}

/* Autocomplete selector */
.ac-item[disabled],
.ac-item[disabled] small {
  color: #777;
  background-color: #fff;
  cursor: not-allowed;
}
.acs-set {
  display: flex;
  align-items: center;
  background-color: #edf2f7;
}
.acs-set .acs-input,
.acs-editing .acs-title,
.acs-editing .acs-btn-container {
  display: none;
}
.acs-editing .acs-input {
  display: block;
}
.acs-set .acs-title,
.acs-set .acs-btn-container {
  display: inline-block;
}
.acs-set .acs-title {
  flex: 1;
  padding: 6px 12px;
  vertical-align: middle;
}
.acs-set .acs-change {
  margin-right: 4px;
}
.acs-btn-container {
  flex: none;
  padding: .5rem;
}

.dropdown-menu {
  margin-bottom: 1rem;
  padding: 1px 1rem 1rem;
  white-space: nowrap;
}
#delete-confirm + .dropdown-menu {
  left: auto;
  right: 0;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
