body {
    padding: 0px;
    margin: 0px;
}

.navbar {
    border-radius: 0;
}
.banner {
    margin-bottom: 0;
    border: 0;
    background-color: #6699cc;
    background: linear-gradient(to bottom, #99ccff, #6699cc);
}
.banner a { color: #fff; }
.navbar-brand {
    margin: 0;
}
.navbar-right {
    margin-right: 1rem;
}