body {
	padding: 0px;
    margin: 0px;
}

div.banner {
	background-image: URL('../images/banner-back.gif');
	background-repeat: repeat-x;
	background-color: #6699CC;
	height: 67px;
}

h1 {
    padding: 10px 5px 2px 5px;
	margin: 0px;
	color: #FFFFFF;
    height: 30px;
	font-size: 24px;
}