body {
    font-family: "Bitstream Vera Sans", Verdana, Arial, Sans-Serif;
    font-size: 10pt;
}
td.addEle {
	float:left;
	padding-left: 15px;
	text-decoration: underline;
}

table[name="source_fl_table"] {
	font-size:10pt;
	border-spacing: 0px; 
	border-collapse: separate;
}
td[name="source_fl_col"] {
	padding: 2px;
}
td[name="pubNameCol"], td[name="agLnCol"], td[name="agFnCol"] {
	width: auto;
}
.yrFrom, .yrTo {
	min-width: 80px;
	max-width: 80px;
}
input[name="pub_yrFrom"], input[name="pub_yrTo"] {
	width: 100%;
}